body {
    background-color: #ffffff;
    color: black;
    /* padding: 200px; */
    font-family: Arial;
    /* text-align: center; */
  }
.float-container {
    border: 0px solid #fff;
    padding: 0px;
}


.Info {
    width: 30%;
    float: left;
    margin-left:250px;
    /* padding: 150px; */
    border: 0px solid red;
}  
.Map {
    width: 30%;
    float: left;
    margin-top: 100px;
    margin-left:50px;
    margin-right:250px;
    /* padding: 150px; */
    border: 0px solid red;
}  

.btn-custom {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: cursive;
    font-size: 1em;
}

.center-image{
    display:flex;
    justify-content:center; 
    /* horizontally center */
    align-items:center;    
    /* vertically center */
    position:relative;
    height:700px;
    width:1000px;
}
.center-image img{
    max-width:100%;
    max-height:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.roomInfo {
    width: 100%;
    float: left;
    margin-left:250px;
    /* padding: 150px; */
    border: 0px solid red;
}  
.centerLoc{
    display:flex;
    justify-content:center; 
    /* horizontally center */
    align-items:center;    
    /* vertically center */
    width: "100%"
}

.roomBooking{
    display:flex;
    justify-content:center; 
    /* horizontally center */
    align-items:center;    
    /* vertically center */
    width: "500px"
}

