#mainPage {
    font-family: 'Courier New', monospace;
}

body {
    margin: 0;
    padding: 0;
}

#welcome {
    width: 100%;
    text-align: left;
    height: 100vh;

    background-image:url("IMG_1468.JPG");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcomeBlock {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 2.5rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

#welcomeDesc {
    font-size: 1.3rem;
}

.mainPageBtn {
    text-align: right;
    /*width: 10%;*/
    background-color: black;
    color: beige;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}

#HotelSearchBar {

    font-size: large;
}
.pageButton {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bookButton {
    background-color: #6976d9;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centerLoc{
    display:flex;
    justify-content:center;
    /* horizontally center */
    align-items:center;
    /* vertically center */
    width: 100%;
}

.formStyle{
  /* border:1px solid #ffffff; */
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 500px;
  padding: 10px;
}
.form {
    border:10px solid #ffffff;
    background: rgb(255, 255, 255);
    display:flex;
    /* horizontally center */
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100 auto;
    vertical-align: middle;
    max-width: 700px;
    max-height: 500px;
    width: 500px;
    height: 400px;
    padding: 30px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centerLoc_shadow{
    display:flex;
    justify-content:center;
    /* horizontally center */
    align-items:center;
    /* vertically center */
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxShadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}