#mainPage {
    font-family: 'Courier New', monospace;
}

body {
    margin: 0;
    padding: 0;
}

#welcome {
    width: 100%;
    text-align: left;
    height: 100vh;

    background-image:url("IMG_1468.JPG");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

#welcomeBlock {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 2.5rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

#welcomeDesc {
    font-size: 1.3rem;
}

#mainPageBtn {
    text-align: right;
    /*width: 10%;*/
    background-color: black;
    color: beige;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}

#HotelSearchBar {

    font-size: large;
}
.pageButton {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial;
}

.centerLoc{
    display:flex;
    justify-content:center;
    /* horizontally center */
    align-items:center;
    /* vertically center */
    width: 100%
}
.formStyle{
  border:1px solid #ffffff;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 500px;
  padding: 10px 40px;
}
